.find-store{
    background-image: url("../images/store_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    max-height: 100vh;
    .find-store-inner{
        display: flex;
        position: relative;
        .find-store-left{
            position: relative;
            .ab{
                position: absolute;
                left: 70%;
                top: 50%;
            }
        }
        .find-store-bg{
            position: absolute;
            right: 35%;
            top: -22%;
            width: 343px;
            height: 150px;
            background-image: url("../images/store_exp_img03.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .find-store-right{
            margin-top: 100px;
            margin-right: 13%;
            // 애니메이션 효과를 위해 공통 코딩
            .find-store-animate{
                position: absolute;
            }
            .find-store-animate:nth-child(1){
                right: -15%;
                top: 25%;
            }
            .find-store-animate:nth-child(2){
                right: -10%;
                top: 50%;
            }
            .find-store-animate:nth-child(3){
                display: flex;
                justify-content: left;
                width: 374px;
                right: -5%;
                top: 75%;
            }
            p{
                margin-top: 30px;
                font-weight: bold;
                border: 2px solid #000;
                border-radius: 5px;
                padding: 5px 15px 8px 15px;
                width: 105px;
                cursor: pointer;


            }
            p:hover{
                background-color: #000;
                color: #fff;
                transition: all 0.5s;
            }
            .store-img{
                position: absolute;
                right: 0;
                bottom: -28%;
                
            }

        }
    }
}