@charset "UTF-8";
/* 헤더 영역 */
header {
  background-color: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  border-top: 2px solid #000;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}
header .gnb {
  height: auto;
}
header .gnb .util-nav {
  color: #333;
  display: block;
  font: normal 13px Avenir, Arial, georgia;
  text-align: center;
  width: 100%;
  padding-right: 54px;
  padding-top: 8px;
  line-height: 2;
  /* 로고 */
}
header .gnb .util-nav .sub-nav::after {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
}
header .gnb .util-nav .sub-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #555;
  margin-bottom: 15px;
}
header .gnb .util-nav .sub-nav li {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  float: left;
}
header .gnb .util-nav .sub-nav li::after {
  content: "|";
  font-weight: 100;
  opacity: 0.5;
  margin-left: 30px;
}
header .gnb .util-nav .sub-nav li:last-child::after {
  content: "";
}
header .gnb .util-nav .sub-nav .searchBtn {
  width: 30px;
  background-color: #fff;
  border: 1px solid #908d8d;
  border-radius: 5px;
  padding-top: 5px;
  position: relative;
}
header .gnb .util-nav .sub-nav .searchBtn img {
  position: absolute;
  left: 5px;
}
header .gnb .util-nav .Logo {
  margin-top: 15px;
  float: left;
}
header .gnb .util-nav .menu-tab {
  display: flex;
  justify-content: right;
  /* 마우스 호버시 gnb */
}
header .gnb .util-nav .menu-tab .inner-tab {
  height: 56px;
  padding-left: 15px;
  padding-right: 15px;
}
header .gnb .util-nav .menu-tab .inner-tab .gnb-tab li {
  display: none;
  transition: all 0.5s;
}
header .gnb .util-nav .menu-tab .inner-tab .gnb-var {
  color: #fff;
  font-size: 14px;
  line-height: 3;
  padding-top: 5px;
  background-color: #2C2A29;
  position: absolute;
  width: 100%;
  left: 0;
  top: 112px;
  text-align: left;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}
header .gnb .util-nav .menu-tab .inner-tab .gnb-var .gnb-tab {
  display: flex;
}
header .gnb .util-nav .menu-tab .inner-tab .gnb-var .gnb-tab li {
  width: 220px;
}
header .gnb .util-nav .menu-tab .inner-tab .gnb-var .gnb-tab li ul li {
  color: #999;
  font-size: 12px;
  line-height: 2;
  cursor: pointer;
}
header .gnb .util-nav .menu-tab .inner-tab .gnb-var .gnb-tab li ul li:hover {
  color: #fff;
  transition: all 0.5s;
}
header .gnb .util-nav .menu-tab .inner-tab:hover {
  background-color: #2C2A29;
  color: #64a70b;
}
header .gnb .util-nav .menu-tab .inner-tab:hover .gnb-var {
  transition: all 0.5s;
}
header .gnb .util-nav .menu-tab .coffe:hover .coffe-gnb,
header .gnb .util-nav .menu-tab .menu:hover .menu-gnb,
header .gnb .util-nav .menu-tab .news:hover .news-gnb,
header .gnb .util-nav .menu-tab .responstible:hover .responsibility-gnb,
header .gnb .util-nav .menu-tab .reward:hover .rewards-gnb,
header .gnb .util-nav .menu-tab .sale:hover .corporate-gnb,
header .gnb .util-nav .menu-tab .store:hover .store-gnb {
  opacity: 1;
  /* display: block; */
  height: 300px;
  z-index: 11;
}
header .gnb .util-nav .menu-tab .coffe:hover .gnb-tab li,
header .gnb .util-nav .menu-tab .menu:hover .gnb-tab li,
header .gnb .util-nav .menu-tab .news:hover .gnb-tab li,
header .gnb .util-nav .menu-tab .responstible:hover .gnb-tab li,
header .gnb .util-nav .menu-tab .reward:hover .gnb-tab li,
header .gnb .util-nav .menu-tab .sale:hover .gnb-tab li,
header .gnb .util-nav .menu-tab .store:hover .gnb-tab li {
  /* opacity: 1; */
  display: block;
}

/* end header */

/*# sourceMappingURL=header.css.map */
